.bubble {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: black;
  path {
    fill: black;
  }
}
